$primary-color: #333;

@mixin center-both {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container {
  background-color: $primary-color;
  color: white;
  padding: 1rem;

  @include center-both;

  .header-center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    .logo {
      max-width: 100%;
      height: auto;
    }
  }

  p {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .header-container {
    .header-center-container {
      flex-direction: column;

      .logo {
        margin-bottom: 0.5rem;
      }
    }
  }
}
